<?xml version="1.0"?>
<!--
/**
 * Copyright © Baako Consulting LLC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bcmarketplace_customreportsuite" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Report Suite</label>
            <tab>bcmarketplace</tab>
            <resource>BCMarketplace_CustomReportSuite::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Custom Report Suite</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Custom Report Suite module.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
